            <!-- Fixed navbar -->
            <div class="navbar navbar-default navbar-fixed-top">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-target" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="index.html"><strong>Track G - Oakland's Measure G</strong></a>
                    </div>
                    <div class="collapse navbar-collapse" id="navbar-collapse-target">
                        <ul class="nav navbar-nav">
                            <li class="<%- current.source == 'index' ? 'active' : '' %>"><a href="index.html">About</a></li>
                            <li class="<%- current.source == 'map' ? 'active' : '' %>"><a href="map.html">By Location</a></li>
                            <li class="<%- current.source == 'programs' ? 'active' : '' %>"><a href="programs.html#art">By Program</a></li>
                            <li class="<%- current.source == 'chart' ? 'active' : '' %>"><a href="chart.html">By School</a></li>
                            <li class="<%- current.source == 'summary' ? 'active' : '' %>"><a href="summary.html">In Summary</a></li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right social">
                            <li>
                              <a class="twitter" href="https://twitter.com/intent/tweet?hashtags=OAKEDU&original_referer=trackg.org&ref_src=twsrc%5Etfw&text=Explore%20how%20Measure%20G%20funds%20are%20spent%20in%20%23Oakland%20Schools%20at%20trackg.org!&tw_p=tweetbutton&url=&via=OpenOakland" target="_blank">
                              <i class="fa fa-twitter fa-lg"></i>
                              </a>
                            </li>
                            <li>
                                <a class="facebook" href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Ftrackg.org" target="_blank" class="fbhover"><i class="fa fa-facebook fa-lg"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>